/* Загальні стилі */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Стилі для контейнера гри */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}
h2 {
    color: #007bff;
}

.quiz-header h1,
.quiz-timer p,
.quiz-options,
.quiz-submit,
.quiz-restart,
.quiz-question .question-image-container,
.form-check {
    text-align: center;
}

.quiz-timer p {
    margin: 20px 0;
    font-size: 20px;
    color: #343434;
}
.quiz-info{
    margin: 20px 0;
    font-size: 20px;
    color: #4b5254;
}

.quiz-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-check {
    width: 50%;
    box-sizing: border-box;
    text-align: left;
    padding: 0 60px;
    margin-bottom: 15px;
}

.quiz-options input[type="radio"] {
    margin-right: 5px;
}

.quiz-submit input[type="submit"],
.quiz-restart #restart-button {
    display: inline-block;
    width: 90%;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.quiz-submit input[type="submit"] {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
}

.quiz-submit input[type="submit"]:hover,
.quiz-restart #restart-button:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
}

.quiz-restart #restart-button {
    display: none;
    margin: 20px auto;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
}

.hidden-element {
    display: none;
}

/* Стилі для кнопки "На головну" */
.go-home {
    text-align: center;
    margin-top: 20px;
}

.go-home .btn {
    display: inline-block;
    padding: 10px 20px;
    width: 90%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.btn-easy,
.btn-medium,
.btn-hard {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px;
}

.btn-easy {
    background-color: #4CAF50; /* Зелений колір фону для "Легко" */
    color: white;
}

.btn-medium {
    background-color: #FFC700; /* Жовтий колір фону для "Середньо" */
    color: #343434;
}

.btn-hard {
    background-color: #FF3030; /* Червоний колір фону для "Складно" */
    color: white;
}

.btn-hard:hover, .btn-medium:hover, .btn-easy:hover {
    filter: brightness(90%); /* Зменшення яскравості при наведенні на всі кнопки */
}
.hidden-element{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}